main {
  margin-top: 60px;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 50%;
  background: #fff;
  margin: 80px auto;
  align-items: center;
  height: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.user-details .user-img {
  width: 20%;
  margin-top: -100px;
}

.user-details .user-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.user-details .user-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

span {
  font-weight: bold;
  font-size: 20px;
}

p {
  font-size: 20px;
}

.button-container {
  align-self: flex-end;
  margin-right: 20px; 
}

button {
  border: 0;
  background-color: #4b49ac;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #3a388a;
}

@media (max-width: 1200px) {
  .user-details {
    width: 70%;
    height: auto;
    padding: 20px;
    display: flex;
    margin-top: 60px;
  }

  .user-details .user-img {
    width: 100%;
    margin-top: 0;
  }

  .user-details .user-img img {
    max-width: 100px;
    max-height: 100px;
  }

  .user-details .user-info {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .button-container {
    align-self: center;
    margin: 20px 0 0 0;
  }
}
@media (max-width: 768px) {
  .user-details {
    width: 90%;
    padding: 10px;
  }

  .user-details .user-img {
    width: 80px;
    margin-top: -40px;
  }

  span, p {
    font-size: 16px;
  }
}
